<div class="modal-content post-modal-content" id="modal-<%= post._id %>" role="dialog" aria-labelledby="postTitle-<%= post._id %>" aria-hidden="true" style="display: none;">
    <button class="close-post" aria-label="Close" data-modal-id="<%= post._id %>">&times;</button>

    <div class="modal-body">
        <!-- Left column for post content -->
        <div class="left-column">
            <!-- Post title -->
            <h2 id="postTitle-<%= post._id %>"><%= post.title %></h2>

            <!-- Display post images in a bordered container -->
            <% if (post.imagePaths && post.imagePaths.length > 0) { %>
                <div id="postImages-<%= post._id %>" class="post-images-container image-grid">
                    <% post.imagePaths.forEach(function(imagePath) { %>
                        <div class="image-box">
                            <img src="<%= imagePath %>" alt="Post Image" class="post-image" onclick="openLargeImageModal('<%= imagePath %>')">
                        </div>
                    <% }); %>
                </div>
            <% } else { %>
                <p>No images available for this post.</p>
            <% } %>

            <!-- Post content (dynamically styled) -->
            <div id="postContent-<%= post._id %>" class="dynamic-content-container">
                <p><%= post.content %></p>
            </div>

            <!-- Display tags (dynamically styled) -->
            <div id="postTags-<%= post._id %>" class="dynamic-tags-container">
                <% if (post.tags && post.tags.length > 0) { %>
                    <p>Tags: 
                        <% post.tags.forEach(function(tag) { %>
                            <span class="post-tag"><%= tag %></span>
                        <% }); %>
                    </p>
                <% } else { %>
                    <p>No tags available.</p>
                <% } %>
            </div>

            <!-- View Recipe Button (only if recipe exists) -->
            <% if (post.recipe) { %>
                <div id="viewRecipeContainer-<%= post._id %>" class="view-recipe-button-container">
                    <a id="viewRecipeLink-<%= post._id %>" href="javascript:void(0);" class="styled-button view-recipe-link" data-recipe-id="<%= post._id %>">View Recipe</a>
                </div>
            <% } %>
        </div>

        <!-- Right column for Instagram embed (loaded when modal opens) -->
        <div class="right-column">
            <div id="instagramEmbed-<%= post._id %>">
                <% if (post.instagramLink) { %>
                    <div class="instagram-container"></div> <!-- Container to hold the Instagram embed -->
                <% } else { %>
                    <p>No Instagram post available.</p>
                <% } %>
            </div>
        </div>
    </div>

    <!-- Add modal overlay for the post modal -->
    <div id="postModalOverlay-<%= post._id %>" class="modal-overlay" style="display: none;"></div> <!-- Unique overlay for the post modal -->

    <!-- Large Image Modal -->
    <div id="largeImageModal" class="modal" aria-hidden="true">
        <span id="closeLargeImageButton" class="close-large-image">&times;</span>
        <div class="modal-content">
            <img id="largeImage" src="" alt="Large Image">
        </div>
    </div>
</div>
